<div class="delete-btn-container" *ngIf="hasSelectedTasks()">
    <button mat-raised-button color="warn" (click)="deleteSelectedTasks()">
        <mat-icon>delete</mat-icon>
        Eliminar seleccionados
    </button>
</div>
<section class="container">
    @for(task of tasks; track task._id) {
    <mat-card class="task-card">

        <div class="checkbox-container">
            <mat-checkbox [(ngModel)]="selectedTasksMap[task._id]" (click)="$event.stopPropagation()"
                matTooltip="Seleccionar tarea"></mat-checkbox>
        </div>

        <div class="priority-badge">
            <span>Prioridad :</span>
            <span class="dot" [ngClass]="task.priority.toLowerCase()"></span>
            <span class="text">{{ task.priority }}</span>
        </div>

        <div class="priority-badge-status">

            <span class="status-icon">
                <mat-icon *ngIf="task.state === 'Nueva'">description</mat-icon>
                <mat-icon *ngIf="task.state === 'En progreso'">play_arrow</mat-icon>
                <mat-icon *ngIf="task.state === 'Bloqueada'">block</mat-icon>
                <mat-icon *ngIf="task.state === 'Finalizada'">check_circle</mat-icon>
            </span>
            <span class="text2">{{ task.state }}</span>

        </div>
        <div class="eye">
            <button mat-icon-button [routerLink]="['/task-detail', task._id]" matTooltip="Ver detalles">
                <mat-icon>visibility</mat-icon>
            </button>
        </div>
        <mat-card-header>
            <p class="title">{{ task.title }}</p>
        </mat-card-header>

        <mat-card-content>
            @if (task.description){
            <p>{{ task.description }}</p>
            }
            @else {
            <p class="no-description">Agrega una descripción...</p>
            }

            <div class="tags">

                @for(label of task.labels; track label) {
                <span class="tag">{{ label.name }}</span>
                }
            </div>
        </mat-card-content>

        <mat-card-actions class="card-actions">
            <button mat-icon-button class="icon-button blue-bg" [disabled]="task.state === 'Finalizada'"
                (click)="onEdit(task)" matTooltip="Editar">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="icon-button red-bg" (click)="openDeleteDialog(task._id)"
                matTooltip="Eliminar">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
        <div class="card-footer">
            <span>Created at {{ task.createdAt | date }}</span><br>
            <span>Last Update at {{ task.updatedAt | date }}</span>
        </div>

    </mat-card>
    }

</section>